<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="portal.png">
  <link rel="stylesheet" href="style.css" type="text/css" />
  <title>Point Update X</title>
</head>
<body id="index">
  <h1 id="index">Point Update X.</h1>
  <p>
    Welcome to the website p-dawg.com,<br \>a throwaway website for CSS practice.<br \> One day this may be more interesting.<br \>
    Either way, have a look around. Enjoy.
  </p>
  <h2 id="index">
    <a href="1/" id="index">../1</a>
    <a href="2/" id="index">../2</a>
    <a href="3/" id="index">../3</a>
    <a href="4/" id="index">../4</a>
    <a href="5/" id="index">../5</a>
    <a href="6/" id="index">../6</a>
  </h2>
</body>
</html>
